* {
 margin: 0;
 padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

.icon-bar {
    justify-content: right;
    display: flex;
    width: 100%;

}
.top-space {
   border: 2px solid black;
   height: 2px;
   width: 100%;
   margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 8px;
    flex-wrap: wrap;
}
.left-border {

    border-left: 2px solid black;
    margin-left: 1px;
}
.right-border {
    border-right: 2px solid black;
    margin-right: 1px;
}
.box {
    display: flex;
    flex-direction: column;

}

.full-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.bottom-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sunshine {
    display: flex;
    position: relative;
    margin: 40px auto auto auto;
    padding: 100px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    width: 100px;
    height: 100px;
}
.sunshine p {
 margin: auto;
color: #fff;
font-size:32px;
font-weight:500;
padding: 2px;
text-wrap: nowrap;
position: absolute;
left: 20%;
top: 45%;

}

form label {
width: 100%;
padding: 8px;
font-size: 10px;
}

form input {
width: 100%;
margin: 8px;

}

form button {
    width: 100%;
    color: white;
    background-color: black;
    margin: 8px;
    padding: 8px;
}

.container h1 {
padding-top: 100px;
text-align: center;
font-size: 18px;
}
.sun-emoji {
    color: rgb(201, 185, 37);
}